@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*Basic style*/
body {
  font-family: "Roboto", sans-serif;
  background: #f8f9ff;
}

.container {
  min-width: 320px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

p,
a,
button {
  color: #434343;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.header {
  padding: 25px 0;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  padding-left: 120px;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__menu::after {
  content: "";
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 23px;
  background-color: #eeeeee;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__menu-list-item {
  margin-left: 55px;
}
.header__menu-list-item:first-child {
  margin-left: 0;
}
.header__menu-list-item:last-child {
  margin-right: 36px;
}
.header__menu-list-item a {
  text-decoration: none;
  color: #495367;
  font-family: "Roboto";
}
.header__menu-list-item a.active {
  color: #8a53ff !important;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.header__icons--search {
  height: 20px;
  width: 20px;
}
.header__icons--profile {
  margin-left: 18px;
  height: 24px;
  width: 24px;
}

.hero__wrap {
  background: url("/assets/img/hero_background_image.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.hero__wrap:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.92%, #ffffff), color-stop(75.6%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #ffffff -0.92%, rgba(255, 255, 255, 0) 75.6%);
}
.hero__block {
  position: relative;
  z-index: 1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 124px 0;
  max-width: 511px;
  width: 100%;
  color: #434343;
  padding-left: 140px;
}
.hero__block-panel--description {
  font-size: 22px;
  font-family: "Roboto";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.6;
}
.hero__block-panel--description span {
  font-family: "Changa One";
  color: #8a53ff;
  font-size: 73px;
  line-height: 1.15;
}
.hero__block-panel--description p {
  font-family: "Changa One";
  margin-bottom: 16px;
  font-size: 73px;
  line-height: 1.15;
  color: #434343;
}
.hero__block-panel__button {
  cursor: pointer;
  max-width: 360px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
  text-decoration: none;
  list-style-type: none;
}
.hero__block-panel__button button {
  height: 46px;
  width: 165px;
  background-color: #8a53ff;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
}
.hero__block-panel__button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-family: "Roboto";
  color: #434343;
}
.hero__block-panel__button div img {
  margin-right: 10px;
}

.features__wrap {
  padding: 107px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__wrap .features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.features__wrap .features__item-img {
  width: 46.5%;
}
.features__wrap .features__item-content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 580px;
  line-height: 1.8;
  color: #434343;
  font-family: "Roboto";
}
.features__wrap .features__item-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #8a53ff;
  margin-bottom: 8px;
}
.features__wrap .features__item-description {
  font-family: "Changa one";
  font-size: 39px;
  margin-bottom: 8px;
}
.features__wrap .features__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
}
.features__wrap .features__item-text svg {
  margin-right: 12px;
}
.features__wrap .features__item-watch {
  margin-top: 24px;
}

.adventures__wrap {
  height: 621px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.adventures__table-of-contents {
  max-width: 1202px;
  width: 100vw;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adventures__discover-table {
  font-size: 39px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.adventures__join-table {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgb(138, 83, 255);
  text-transform: uppercase;
}
.adventures__cards {
  max-width: 1202px;
  width: 100vw;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 5%;
}
.adventures__place {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.adventures__discover {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  color: rgb(138, 83, 255);
}

.registration-section__background {
  height: 901.18px;
  width: 100vw;
  background: url(../../../assets/img/user-form_background-image.svg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.registration-section .registration {
  width: 657px;
  height: 758px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registration-section .registration__header {
  max-width: 617px;
  width: 100vw;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registration-section .registration__title {
  font-weight: 400;
  font-size: 39px;
  line-height: 40px;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.registration-section .registration__subtext {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  font-family: "Roboto";
  color: rgb(138, 83, 255);
  text-transform: uppercase;
}
.registration-section .registration__form {
  max-width: 617px;
  width: 100vw;
  height: 612px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}
.registration-section .registration__text {
  max-width: 557px;
  width: 100vw;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.registration-section .registration__travels {
  height: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.registration-section .registration__about-travels {
  height: 68px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.registration-section .registration__fields {
  max-width: 557px;
  width: 100vw;
  height: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration-section .registration__fields input {
  max-width: 557px;
  width: 100vw;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 12px;
  font-family: "Roboto";
}
.registration-section .registration__fields input--description {
  height: 102px;
}
.registration-section .registration__button {
  width: 222px;
  height: 46px;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-family: "Roboto";
  background-color: rgb(138, 83, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recent-stories {
  height: 748.11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-stories__subtitle {
  height: 21px;
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgb(138, 83, 255);
  text-transform: uppercase;
}
.recent-stories__title {
  height: 40px;
  font-size: 39px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.recent-stories__titles {
  max-width: 1200px;
  width: 100vw;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-stories__left {
  max-width: 600px;
  width: 100vw;
  height: 476.11px;
  padding: 0 20px;
}
.recent-stories__content {
  max-width: 1200px;
  width: 100vw;
  height: 476.11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recent-stories__content__right {
  max-width: 600px;
  width: 100vw;
  height: 476px;
}

.story-card__items {
  max-width: 512px;
  width: 100vw;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.story-card__text {
  max-width: 435.13px;
  width: 100vw;
  margin-left: 20px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.story-card--big {
  max-width: 560px;
  width: 100vw;
  height: 476.11px;
}
.story-card--big__image--big {
  width: 560px;
  height: 358.11px;
}
.story-card--big button {
  width: 48.87px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
}
.story-card__body {
  max-width: 560px;
  width: 100vw;
  height: 118px;
}
.story-card__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.story-card__description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(87, 96, 116);
}
.story-card__link {
  color: rgb(138, 83, 255);
  text-decoration: none;
}
.story-card__link:hover {
  text-decoration: underline;
}
.story-card__item {
  max-width: 600px;
  width: 100vw;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.footer {
  max-width: 1440px;
  width: 100vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .copyright-info {
  max-width: 920px;
  width: 100vw;
  height: 16px;
}
.footer .copyright-info span {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(147, 158, 180);
}
.footer .footer-links {
  max-width: 280px;
  width: 100vw;
  height: 16px;
}
.footer .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-links ul li {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(147, 158, 180);
  list-style-type: none;
  cursor: pointer;
}
.footer .footer-links ul li a {
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Roboto";
  color: rgb(147, 158, 180);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.blog-article {
  height: 2334.55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section {
  max-width: 911.64px;
  width: 100vw;
}

.article-hero {
  height: 635px;
}

.article-hero-header {
  height: 75px;
}

.block-article-title {
  max-width: 721.18px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-category {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgb(138, 83, 255);
  text-transform: uppercase;
}

.article-title {
  font-size: 50px;
  line-height: 54px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}

.article-author {
  max-width: 190px;
  width: 100vw;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-author img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.author-text {
  max-width: 145.47px;
  height: 35px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.author-text .author-name {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(73, 83, 103);
}
.author-text .profession {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(162, 167, 177);
}

.article-hero-video {
  height: 540px;
  background: url("../../../assets/img/Article Hero Image.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.article-hero-video span {
  max-width: 891.27px;
  width: 100vw;
  height: 92px;
  padding: 166.56px 10.19px 281.44px 10.19px;
  font-size: 70px;
  line-height: 92.4px;
  font-weight: 400;
  font-family: "Black Signature";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(255, 255, 255);
  position: absolute;
}
.article-hero-video img {
  width: 104.67px;
  height: 105.63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: absolute;
}

.clincher-paragraph {
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.clincher-paragraph .clincher-title {
  height: 36px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.clincher-paragraph .clincher-text {
  height: 78px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}

.callout {
  height: 527px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.callout-images {
  max-width: 455.82px;
  width: 100vw;
  height: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callout-images .winter,
.callout-images .mountains,
.callout-images .sunset {
  width: 220.41px;
}
.callout-images .mountains {
  height: 261.47px;
}
.callout-images .sunset {
  height: 201.56px;
}
.callout-images .callout-images-column {
  height: 479.03px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callout-copywriting {
  max-width: 455.82px;
  width: 100vw;
  height: 527px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
}
.callout-text {
  width: 421.82px;
  height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callout-text span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.callout button {
  width: 165.17px;
  height: 46px;
  font-size: 16px;
  line-height: 18.75px;
  font-family: "Roboto";
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgb(138, 83, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.callout-title {
  width: 421.82px;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callout-title img {
  width: 34.62px;
  height: 26px;
}
.callout-title span {
  width: 370.21px;
  height: 141px;
  font-size: 42px;
  font-weight: 400;
  line-height: 47px;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}

.conclusion-text {
  height: 130px;
}
.conclusion-text span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}

.highlights {
  height: 431.55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.highlights-title {
  height: 36px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgb(67, 67, 67);
}
.highlights-row {
  height: 380.55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}
.highlights-row .highlight-card {
  width: 303.88px;
  height: 380.55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.highlights-row .highlight-card img {
  width: 288.88px;
  height: 346.55px;
}
.highlights-row .highlight-card span {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(130, 129, 129);
}

.disclaimer {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
}
.disclaimer-title {
  width: 853.64px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}
.disclaimer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Roboto";
  color: rgb(67, 67, 67);
}