@font-face {
    font-family: "Black Signature";
    src: url("./fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
    font-family: "Changa One";
    src: url("./fonts/ChangaOne-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
}

.container120 {
    max-width: 1200px;
    padding: 0 120px;
}


header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.block-logo {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.block-logo p{
    font-family: "Black Signature";
}

.block-logo span{
    font-family: "Changa One";
    font-size: 24px;
    color: #8A53FF;
}

.navbar {
    display: flex;
    font-family: roboto;
    margin: 100px;
}

.block-link{
    color: #495367;
}

.block-link ul{
    display: flex;
}

.block-link li{
    list-style-type: none;
}

.block-link a{
    text-decoration: none;
}

.block-img {

}

