.features {
  &__wrap {
    padding: 107px 140px;
    display: flex;
    justify-content: space-between;

    .features__item {
      display: flex;
      width: 100%;
      &-img {
        width: 46.5%;
      }

      &-content {
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 580px;
        line-height: 1.8;
        color: #434343;
        font-family: "Roboto";
      }

      &-title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: #8a53ff;
        margin-bottom: 8px;
      }

      &-description {
        font-family: "Changa one";
        font-size: 39px;
        margin-bottom: 8px;
      }

      &-text {
        display: flex;
        align-items: center;
        font-family: "Roboto";

        svg {
          margin-right: 12px;
        }
      }

      &-watch {
        margin-top: 24px;
      }
    }
  }
}
